In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# inspect data
df = pd.read_csv('nlp_output.csv')
df.head()

,Unnamed: 0,asin,image,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime,verified,vote
0,0,3979050432,NaN,2.0,I bought this for my son and after 3 wears the...,"11 19, 2014",A3COROWUV2JCDY,Marie,The quality is poor.,1416355200,True,NaN
1,1,5120053084,NaN,3.0,The material is nice and soft but it's a frump...,"12 21, 2017",A33LFLWDQ446YN,Tessaj30,Wouldn't recommend.,1513814400,True,NaN
2,2,5120053084,NaN,3.0,But not really good looking. Quality of fabric...,"09 29, 2017",A2WGO277SII669,Butterfly,Comfortable and practical,1506643200,True,NaN
3,3,5120053890,NaN,4.0,I actually ended up returning this. The fit wa...,"09 26, 2016",A22IGYALXEYTFB,vincentsmommy,I actually ended up returning this. The fit wa...,1474848000,True,NaN
4,4,5120053890,NaN,4.0,this dress feels somewhat thick on me and the ...,"09 25, 2016",AEE2EOIPUJ529,HoustonMom,Four Stars,1474761600,True,NaN

# Data Cleaning and Exploratory Data Analysis

In [3]:
print(len(df))

226658

In [4]:
# Inspect columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226658 entries, 0 to 226657
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      226658 non-null  int64
 1   asin            226658 non-null  object
 2   image           4924 non-null    object
 3   overall         226658 non-null  float64
 4   reviewText      226475 non-null  object
 5   reviewTime      226658 non-null  object
 6   reviewerID      226658 non-null  object
 7   reviewerName    226621 non-null  object
 8   summary         226551 non-null  object
 9   unixReviewTime  226658 non-null  int64
 10  verified        226658 non-null  bool
 11  vote            21424 non-null   float64
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 19.2+ MB

In [5]:
# Check column names
df.columns

Index(['Unnamed: 0', 'asin', 'image', 'overall', 'reviewText', 'reviewTime',
       'reviewerID', 'reviewerName', 'summary', 'unixReviewTime', 'verified',
       'vote'],
      dtype='object')

In [6]:
# Extract Columns related to our analysis
df_related = df.drop(['Unnamed: 0', 'asin', 'image', 'reviewerName', 'unixReviewTime', 'vote'], axis = 1)
df_related.head()

,overall,reviewText,reviewTime,reviewerID,summary,verified
0,2.0,I bought this for my son and after 3 wears the...,"11 19, 2014",A3COROWUV2JCDY,The quality is poor.,True
1,3.0,The material is nice and soft but it's a frump...,"12 21, 2017",A33LFLWDQ446YN,Wouldn't recommend.,True
2,3.0,But not really good looking. Quality of fabric...,"09 29, 2017",A2WGO277SII669,Comfortable and practical,True
3,4.0,I actually ended up returning this. The fit wa...,"09 26, 2016",A22IGYALXEYTFB,I actually ended up returning this. The fit wa...,True
4,4.0,this dress feels somewhat thick on me and the ...,"09 25, 2016",AEE2EOIPUJ529,Four Stars,True

In [7]:
# Check values in verified
df_related['verified'].unique()

array([ True, False])

In [8]:
# extract rows where verified is True
df_related_verified = df_related[df_related['verified'] == True].reset_index(drop = True)

In [9]:
print(len(df_related_verified))

212802

**13,856** unverified rows were dropped.

In [10]:
# Inspect verified review dataframe
df_related_verified.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212802 entries, 0 to 212801
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   overall     212802 non-null  float64
 1   reviewText  212635 non-null  object
 2   reviewTime  212802 non-null  object
 3   reviewerID  212802 non-null  object
 4   summary     212699 non-null  object
 5   verified    212802 non-null  bool
dtypes: bool(1), float64(1), object(4)
memory usage: 8.3+ MB

In [11]:
# Drop rows with nulls
df_related_verified_dropnulls = df_related_verified.dropna().reset_index(drop = True)

In [12]:
df_related_verified_dropnulls.head()

,overall,reviewText,reviewTime,reviewerID,summary,verified
0,2.0,I bought this for my son and after 3 wears the...,"11 19, 2014",A3COROWUV2JCDY,The quality is poor.,True
1,3.0,The material is nice and soft but it's a frump...,"12 21, 2017",A33LFLWDQ446YN,Wouldn't recommend.,True
2,3.0,But not really good looking. Quality of fabric...,"09 29, 2017",A2WGO277SII669,Comfortable and practical,True
3,4.0,I actually ended up returning this. The fit wa...,"09 26, 2016",A22IGYALXEYTFB,I actually ended up returning this. The fit wa...,True
4,4.0,this dress feels somewhat thick on me and the ...,"09 25, 2016",AEE2EOIPUJ529,Four Stars,True

In [53]:
# Drop duplicate rows
df_related_final = df_related_verified_dropnulls.drop_duplicates().reset_index(drop = True)

In [ ]:
# drop verified column
df_related

In [54]:
# Save file
df_related_final.to_csv('df_final.csv', index = False)